@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Guaraja Grotesk';
  src: url('./font/tipogra-fio-guaruja-grotesk-regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oktah Round';
  src: url('./font/okath-regular.otf');
  font-weight: normal;
  font-style: normal;
}


h1 {
  font-family: "Guaraja Grotesk", sans-serif;
  font-size: 90pt;
}
h2 {
  font-family: "Oktah Round", sans-serif;
  font-size: 45pt;
}

p {
  font-family: "Arimo", sans-serif;
  font-size: 14pt;
}

.Navbar p {
  font-family: "Oktah Round", sans-serif;
  font-size: 14pt;
}

.embla {
  overflow: hidden;
  border: 1px solid #000;


}
.embla__container {
  display: flex;



}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;

}
